* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// <!-- section one page start_______________ -->
.one-page {
  z-index: 1;
  position: relative;
  background: linear-gradient(50.48deg, #ed2775 -2.06%, #ff7448 93.55%);
  padding-bottom: 100px;
  padding-top: 180px;
  .text-content {
    text-align: center;
    h2 {
      color: white;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 40px;
    }
    ul {
      li {
        margin-left: 0px;
        color: white;
        a {
          margin-right: 25px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .kartina {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }
}

// <!-- section one end _________________________ -->

.some {
  padding-top: 100px;
  background-color: #ffffff;
  .some-text {
    text-align: center;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    span {
      display: block;
      margin-bottom: 10px;
      background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    h2 {
      line-height: 1.4;
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .some-comit {
    .mini-box {
      transition: 0.5s;
      background: #f4f8fc;
      margin-bottom: 25px;
      padding: 30px;
      &:hover {
        background-color: white;
      }
      .kalip {
        margin-bottom: 20px;
        img {
          height: 60px;
          border-radius: 50%;
          width: 60px;
        }
        .faym {
          margin-left: 15px;
          h3 {
            font-size: 22px;
            margin-bottom: 7px;
          }
          span {
            font-size: 14px;
            color: red;
          }
        }
      }
      p {
        font-size: 14px;
        color: #716c80;
        margin-bottom: 15px;
        line-height: 2;
      }
      .mini-right {
        margin-top: 25px;
        h5 {
          color: black;
          font-weight: 700;
        }
        .staryer {
          i {
            line-height: 1;
            color: #ffca40;
            margin-left: 2px;
          }
        }
      }
    }
  }
  .cric {
    margin-top: 20px;
    line-height: 1;
    i {
      color: #869791;
      width: 20px;
    }
  }
}

.sometwo {
  margin-top: 80px;
  padding-top: 100px;
  background-color: #f4f8fc;
  .some-text {
    text-align: center;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    span {
      display: block;
      margin-bottom: 10px;
      background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    h2 {
      line-height: 1.4;
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .some-comit {
    .mini-box {
      transition: 0.5s;
      background: white;
      margin-bottom: 25px;
      padding: 30px;

      .kalip {
        margin-bottom: 20px;
        img {
          height: 60px;
          border-radius: 50%;
          width: 60px;
        }
        .faym {
          margin-left: 15px;
          h3 {
            font-size: 22px;
            margin-bottom: 7px;
          }
          span {
            font-size: 14px;
            color: red;
          }
        }
      }
      p {
        font-size: 14px;
        color: #716c80;
        margin-bottom: 15px;
        line-height: 2;
      }
      .mini-right {
        margin-top: 25px;
        h5 {
          color: black;
          font-weight: 700;
        }
        .staryer {
          i {
            line-height: 1;
            color: #ffca40;
            margin-left: 2px;
          }
        }
      }
    }
  }
  .cric {
    margin-top: 20px;
    line-height: 1;
    i {
      color: #869791;
      width: 20px;
    }
  }
}

.kapylo {
  margin-top: 80px;
  padding-top: 100px;
  background-color: #f4f8fc;
  .kapylo-bustext {
    text-align: center;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    span {
      display: block;
      margin-bottom: 10px;
      background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    h2 {
      line-height: 1.4;
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 700;
    }
  }
  .single-ti {
    // background-color: ;
    text-align: center;
    padding: 60px 80px;
    .client-information {
      margin-bottom: 25px;
      img {
        height: 70px;
        border-radius: 50%;
        width: 70px;
      }
      .slovo {
        margin-top: 18px;
        h3 {
          font-size: 20px;
          margin-bottom: 8px;
        }
        span {
          display: block;
          font-size: 14px;
          color: #716c80;
        }
      }
    }
  }
  p {
    line-height: 2;
    font-size: 16px;
    color: #716c80;
  }
  .riyting {
    margin-top: 40px;
    h5 {
      margin-bottom: 12px;
      font-size: 16px;
      color: black;
      font-weight: 700;
    }
    .starr {
      i {
        line-height: 1;
        color: #ffca40;
        font-size: 16px;
        margin: 0 2px;
      }
    }
  }
}

.rewies {
  z-index: 1;
  position: relative;
  background-color: white;
  padding: 100px 0;
  ::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    content: "";
    z-index: -1;
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: linear-gradient(
      279.99deg,
      #9f5ff1 -1.19%,
      #ff54b0 50.99%,
      #ff9f5a
    );
  }
  .section-title {
    position: relative;
    top: 60px;
    span {
      display: block;
      font-weight: 600;
      margin-bottom: 12px;
      letter-spacing: 0.1em;
      color: white;
    }
    h2 {
      font-size: 36px;
      line-height: 1.4;
      margin-bottom: 15px;
      color: white;
    }
  }
  .mini-box {
    transition: 0.5s;
    background: white;
    margin-bottom: 25px;
    padding: 30px;
    &:hover {
      background-color: white;
    }
    .kalip {
      margin-bottom: 20px;
      img {
        height: 60px;
        border-radius: 50%;
        width: 60px;
      }
      .faym {
        margin-left: 15px;
        h3 {
          font-size: 22px;
          margin-bottom: 7px;
        }
        span {
          font-size: 14px;
          color: red;
        }
      }
    }
    p {
      font-size: 14px;
      color: #716c80;
      margin-bottom: 15px;
      line-height: 2;
    }
    .mini-right {
      margin-top: 25px;
      h5 {
        color: black;
        font-weight: 700;
      }
      .staryer {
        position: relative;
        i {
          line-height: 1;
          color: #ffca40;
          margin-left: 2px;
        }
      }
    }
  }
}

.instant {
  // margin:100px 0px;
  background-color: #f4f8fc;
  padding: 100px 0;
  .fead-back {
    max-width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    p {
      ::before {
        opacity: 0.04;
        content: "\EC51";
        font-family: remixicon;
        position: absolute;
        font-size: 200px;
        line-height: 1;
        top: -60px;
        left: 12%;
      }
      color: black;
      position: relative;
      z-index: 1;
      font-size: 25px;
      font-weight: 600;

      ::after {
        opacity: 0.04;
        content: "\EC52";
        font-family: remixicon;
        position: absolute;
        font-size: 200px;
        line-height: 1;
        bottom: -60px;
        right: 12%;
      }
    }
    h6 {
      font-weight: 300;
      padding-left: 30px;
      position: relative;
      display: inline-block;
      color: #716c80;
      margin-bottom: 0;
      margin-top: 20px;
      span {
        font-weight: 900;
        color: black;
      }
    }
    ul {
      border-bottom: none;
      max-width: 540px;
      margin: 30px auto 0;
      li {
        padding: 0;
        border: none;
        border-radius: 0;
        position: relative;
        display: inline-block;
        width: 14%;
        margin: 20px 10px 0;
     
        img {
          border-radius: 5px;
          max-width: 100%;
          height: auto;
          &:hover{
            transform: scale(1.1);
            transition: 0.5s;
           }
         
        }
      }
    }
  }
}

.customer{
  padding:  100px 0;
  .test-img{
    padding-right: 15px;
    text-align: center;
  }
  
  .test-content{
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 100px;
    span{
      display: block;
      margin-bottom: 10px;
      background: linear-gradient(44.44deg,#ed2775 7.79%,#ff7448 94.18%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: .1em;
      font-weight: 600;
    }
    h2{
      line-height: 1.4;
      margin-bottom: 0;
      font-size: 36px;
    }
  }
  .content{
    h3{
      font-size: 20px;
    margin-bottom: 9px;
    }
    span{
      display: block;
      margin-bottom: 20px;
      color: #ed2775;
    }
    p{
      line-height: 1.8;
      color: #716c80;
      z-index: 1;
      font-size: 20px;
      position: relative
    }
  }
  .nav{
    margin-top: 20px;
    text-align: start;
    .prew{
      position: relative;
      font-size: 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f1f1f1;
      color: #ed2775;
      margin: 0;
      line-height: 42px;
      transition: .5s;
      z-index: 1;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
    } 
    .next{
      left: 20px;
      position: relative;
      font-size: 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f1f1f1;
      color: #ed2775;
      margin: 0;
      line-height: 42px;
      transition: .5s;
      z-index: 1;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
    }   
  }
}


.trused{
  background-color: #f9f9f9;
  padding: 100px 0;
  .pelit{
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 500;
  }
}
